<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/assets/images/logo.png" alt="">
            <p>Tu mejor opción para viajar rápido y seguro.</p>
        </div>

        <div class="footer-links">
            <h3>Enlaces</h3>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/car-list">Autos</a></li>
                <li><a routerLink="/reservation">Reservas</a></li>
                <li><a routerLink="/about">Contacto</a></li>
                <li><a routerLink="/login">Iniciar sesión</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <h3>Síguenos</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/ErickRecords"><img src="/assets/images/facebook.webp" alt=""></a>
                <a href="https://www.instagram.com/juan_luis_0.o/"><img src="/assets/images/instagram.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 FakeTaxi. Todos los derechos reservados.</p>
    </div>
</footer>